.loading-page {
    text-align: center;
    margin: 50px auto;
    .loader-content {
        display: inline-block;
        width: 64px;
        height: 64px;
    }
    .loader-content:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #e52521;
        border-color: #e52521 transparent #e52521 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}