<section class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 text-md-left text-muted mb-5">
            <article>
                <div class="animation">
                  <img src="/assets/images/404/giphy.gif">
                </div>
                <h1>Ooops... Error 404</h1>
                <div>
                  <p>Lo sentimos, pero la p&aacute;gina o promoción que buscas no existe. Puedes dar clic <a href="https://www.qrewards.mx/">aqu&iacute;</a> para ir a la p&aacute;gina principal.</p>
                  <p class="team">&mdash; Equipo <a href="https://www.qrewards.mx/"><img src="/assets/images/logo.svg" alt="Logo" class="logo-img"></a></p>
                </div>
              </article>
        </div>
    </div>
</section>