<footer>
    <div class="container-fluid">
      <div class="row bg-primary shadow-lg">
        <div class="col-6 offset-md-2  col-md-4"><img src="assets/images/qrewards/quantum.png" class="img-fluid"></div>
        <div class="col-6 offset-md-2  col-md-4"><img src="assets/images/qrewards/requisitos_sistema.png" class="img-fluid"></div>
      </div>
      <div class="text-center pt-3">
        <small>Mayores informes (CDMX e int de la República Mexicana): 01 (55) 5249.3752 <a routerLink="/preguntas-frecuentes" target="_blank" style="color: #ea0029;" target="_blank">www.qrewards.mx/preguntas-frecuentes </a></small>
      </div>
    </div>
  </footer>